[Unit]
Description=A mpd notification daemon

[Service]
ExecStart=/usr/bin/mpd-notificate
Restart=always
RestartSec=12

[Install]
WantedBy=default.target
